@using CoreBlogSystem.Controllers
@using EntityLayer.Concrete
@model Class1
@{
    ViewData["Title"] = "API İle Yazar EKleme";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Yeni Yazar Ekle</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <form method="post">
                    <label>Yazar Adı</label>
                    <input type="text" asp-for="@Model.WriterName" class="form-control" />
                    <br />
                    <button type="submit" class="btn btn-info">Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>