<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
    <h2>E-Posta Bültenime Abone Ol</h2>
    <div class="subscribe-main text-left">
        <div class="subscribe-form">
            <form action="#" method="post" class="subscribe_form">
                <input class="form-control" type="email" placeholder="Email Adresinizi Giriniz..." required="">
                <button type="submit" class="btn btn-primary submit">Abone Ol</button>
            </form>
            <div class="clearfix"> </div>
        </div>
        <p>Bilgilerin Veritabanımda Güvende</p>
    </div>
    <!-- //subscribe -->
</div>