<!DOCTYPE html>
<html lang="tr">

<head>
    <title>@ViewData["Title"] | Kısmi Zamanlı Blogcu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Teknoloji ve Gündemde olan konuları en hızlı şekilde paylamak" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <link href="~/CoreBlogTemplate/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <link href="~/CoreBlogTemplate/css/single.css" rel="stylesheet" type='text/css'>
    <link href="~/CoreBlogTemplate/css/style.css" rel="stylesheet" type='text/css' />
    <link href="~/CoreBlogTemplate/css/fontawesome-all.css" rel="stylesheet">
    <link href="~/CoreBlogTemplate/css/contact.css" rel="stylesheet" type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">

</head>

<body>
    <!--Header-->
    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                <div class="col-md-4 logo text-left">
                    <a class="navbar-brand" href="/">
                        <i class="fab fa-linode"></i> Kısmi Zamanlı Blogcu
                    </a>
                </div>
                @await Html.PartialAsync("Header/SıngLogin")
                @await Html.PartialAsync("Header/SocialNavbar")
            </div>
        </div>
        @await Html.PartialAsync("Header/NavbarMenu")
    </header>
    <!--//header-->
    <!--/main-->
    @RenderBody()
    <!--//main-->
    <!--footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                    @await Html.PartialAsync("Footer/AboutUs")
                </div>
                <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                    @await Html.PartialAsync("Footer/LatestPosts")
                </div>
                <!-- subscribe -->
                @await Html.PartialAsync("Footer/Newsletter")
            </div>
            <!-- footer -->
            <div class="footer-cpy text-center">
                <div class="footer-social">
                    <div class="copyrighttop">
                        <ul>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-twitter"></i>
                                    <span>Twitter</span>
                                </a>
                            </li>
                            <li class="mx-3">
                                <a class="facebook" href="#">
                                    <i class="fab fa-linkedin"></i>
                                    <span>Linkedin</span>
                                </a>
                            </li>
                            <li>
                                <a class="facebook" href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                    <span>Pinterest</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w3layouts-agile-copyrightbottom">
                    <p>
                        © @DateTime.Now.Year Kısmi Zamanlı Blogcu. Tüm Hakları Saklıdır | Tasarım
                        <a href="https://www.linkedin.com/in/ibrahimmokuyucu/">İbrahim OKUYUCU' ya Aittir.</a>
                    </p>
                </div>
            </div>
            <!-- //footer -->
        </div>
    </footer>
    <!---->
    <!-- js -->
    <script src="~/CoreBlogTemplate/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/CoreBlogTemplate/js/move-top.js"></script>
    <script src="~/CoreBlogTemplate/js/easing.js"></script>
    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->
    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                        containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                    };
                                    */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>

    <script>
        //E-Posta Bültenine Abone Ol Fonksiyonu. Back-End' e veriyi gönderiyor
        $("#NewsletterForm").submit(function (event) {
            var form = $('#NewsletterForm')[0];
            var data = new FormData(form);
            $.ajax({
                url: '/Newsletter/SubscribeMail',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (result) {
                    if (result) {
                        swal({
                            title: "Başarılı",
                            text: "E-Posta Bültenine Abone Olduğunuz İçin Teşekkürler",
                            icon: "success",
                            button: "Tamam",
                        });
                    }
                    else {
                        swal({
                            title: "Başarısız",
                            text: "Lütfen Tekrar Deneyin",
                            icon: "warning",
                            button: "Tamam",
                        });
                    }
                }
            });
            return false;
        });
    </script>

    <script>
        //Yorum Yapma Fonksiyonu. Back-End' e veriyi gönderiyor
        $("#addComment").submit(function (event) {
            var form = $('#addComment')[0];
            var data = new FormData(form);
            $.ajax({
                url: '/Comment/PartialAddComment',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (result) {
                    if (result) {
                        swal({
                            title: "Başarılı",
                            text: "Yorumunuz İçin Teşekkürler, Bu Bizim İçin Çok Değerli",
                            icon: "info",
                            button: "Tamam",
                        });
                    }
                    else {
                        swal({
                            title: "Başarısız",
                            text: "Lütfen Tekrar Deneyin",
                            icon: "warning",
                            button: "Tamam",
                        });
                    }
                }
            });
            return false;
        });
    </script>

    <script>
        //İletişim Gönder Fonksiyonu. Back-End' e veriyi gönderiyor
        $("#contactAdd").submit(function (event) {
            var form = $('#contactAdd')[0];
            var data = new FormData(form);
            $.ajax({
                url: '/Contact/Index',
                type: 'POST',
                enctype: 'multipart/form-data',
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (result) {
                    if (result) {
                        swal({
                            title: "Başarılı",
                            text: "Formu Doldurduğun İçin Teşekkürler, Hemen Döneceğiz",
                            icon: "info",
                            button: "Tamam",
                        });
                    }
                    else {
                        swal({
                            title: "Başarısız",
                            text: "Lütfen Tekrar Deneyin",
                            icon: "warning",
                            button: "Tamam",
                        });
                    }
                }
            });
            return false;
        });
    </script>

    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/CoreBlogTemplate/js/bootstrap.js"></script>
    @*//Sayfalar içerisinde yazılan harici scripleri buraya basar*@
    @await RenderSectionAsync("Scripts" , required: false)
</body>

</html>