@using EntityLayer.Concrete
@model List<Category>
@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <th>Kategori ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Durumu</th>
        <th>Detaylar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@Html.Raw(item.CategoryName)</td>
            <td>@item.CategoryStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>