@using CoreBlogSystem.Models
@model RoleUpdateViewModel
@{
    ViewData["Title"] = "Rolü Güncelle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Rol Güncelleme</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post">
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Rol ID</label>
                            <div class="col-lg-10">
                                <input type="text" name="RoleId" value="@Model.RoleId" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Rol Adı</label>
                            <div class="col-lg-10">
                                <input type="text" name="RoleName" value="@Model.RoleName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-outline-success">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>