@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "Bloglar";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>Blog ID</th>
        <th>Blog Adı</th>
        <th>Blog Durumu</th>
        <th>Blog Detaylar</th>
        <th>Blog sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogID</td>
            <td>@item.BlogTitle</td>
            <td>@item.BlogStatus</td>
            <td><a href="#" class="btn btn-warning">Detaylar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>