@using Microsoft.AspNetCore.Localization
@using CoreBlogSystem.ExtensionMethods

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = ViewData["Cultures"] as List<SelectListItem>;
}
<li hidden>
    <form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
          method="post" role="form" style="width: 100%">
        <select class="form-control" name="culture" id="culture"
                asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureList" onchange="this.form.submit()">
        </select>
    </form>
</li>
<li>
    <div class="nav-wrapper">
        <div class="sl-nav">
            <ul>
                <li>
                    <b>Dil Seçin</b> <i class="fa fa-angle-down" aria-hidden="true"></i>
                    <div class="triangle"></div>
                    <ul>
                        @foreach (var item in cultureList)
                        {
                            <li onclick="$('#culture').val('@item.Value').trigger('change')"><i class="sl-flag flag-@item.Value"></i> <span class="active">@item.Text</span></li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>