@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>AJAX İşlemleri</h1>
<button type="button" id="btngetlist" class="btn btn-primary">Yazar Getir</button>
<button type="button" id="btngetwriter" class="btn btn-success">Yazar Getir Parametre</button>

<div id="writerlist">
</div>

<div id="writerlistparameter">
</div>

<div>
    <input type="text" id="writerID" placeholder="Yazar ID Giriniz" class="form-control" />
    <input type="text" id="writerID" placeholder="Yazar ID Giriniz" class="form-control" />
</div>
<button type="button" id="btnaddwriter" class="btn btn-success">Yazar Ekle</button>

@section Scripts{
<script>
    $("#btngetlist").click(function(){
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Admin/Writer/WriterList/",
            success: function(func){
                let w = jQuery.parseJSON(func);
                console.log(w);

                let table = "<table class=table table-bordered><tr><th>Yazar ID</th><th>Yazar ADI</th></tr>";

                $.each(w, (index, value) => {
                    table += `<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                });

                table += "</table>";

                $("#writerlist").html(table);
            }
        });
    });

    $("#btngetwriter").click(x => {
        let id = $("#writerID").val();
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Admin/Writer/GetWriterByID/",
            data: {writerID: id},
            success: function(func){
                let  w = jQuery.parseJSON(func);
                let table = `<table class=table table-bordered><tr><th>Yazar ID</th><th>Yazar ADI</th></tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                $("#writerlistparameter").html(table);
            }
        })
    });

    $("btnaddwriter").click(function (){

    )}
</script>
}