@*Burası Bizim Mail Bültenine Abone Olduğumuz Partial. BlogReadAll ve Footer da çekiyoruz*@
<div class="tech-btm">
    <h4>E-Posta Bültenine Abone Ol</h4>
    <p>Bilgilerin Güvenli Bir Şekilde Saklanacaktır</p>
    <form id="NewsletterForm" action="/Newsletter/SubscribeMail" method="POST">
        <input type="email" placeholder="E-Posta" required="" name="MailAdress">
        <input type="submit" value="Abone Ol">
    </form>
</div>