@{
    ViewData["Title"] = "Excel Export";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>BlogListExcel</h1>
<br />
<a href="/Admin/ExcelExport/ExportStaticExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>